<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e0fea4">  <td>21/06/01 08:52:44</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;O2MDashboard.Initializtion()[pri:0, instance:TestCases.O2MDashboard@4386f16]">&gt;&gt;Initializtion</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@365181913</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>21/06/01 08:52:48</td>   <td>3975</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="O2MDashboard.O2MVerification()[pri:0, instance:TestCases.O2MDashboard@4386f16]">O2MVerification</td> 
  <td>main@365181913</td>   <td></td> </tr>
</table>
